
.page {
    color: #FFF;

    .header {
        img {
            position: absolute;

            &.background {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &.foreground {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotateZ(-5.75deg);
                width: max(30rem, 50%);
                z-index: 2;
            }          
        }
    }

    &.profile {
        width: 75%;
        margin-inline: auto;
        margin-block-end: 5.5rem;
        
        h1 {
            color: #000;
        }

        .translation {
            width: 100%;
            background-color: rgb(37, 37, 37);
            box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.4);
            padding: 1rem;
            margin-block: 0.5rem;
            border-radius: 0.2rem;

            * {
                font-weight: bolder;
                text-transform: uppercase;
            }

            h2 {
                font-weight: bold;
                font-size: 1.1rem;
            }

            p {
                font-size: 2rem;
                margin-block: 0.1rem 1rem;

                &.id {
                    color: rgba($color: #FFFFFF, $alpha: 0.3);
                    float: right;
                    font-size: 0.75rem;
                    justify-content: flex-end;
                }
            }

            a {
                color: royalblue;
            }

            img { 
                &.sign-language {
                    display: inline;
                    width: 10%;
                    aspect-ratio: 1/2;
                    border-radius: 0.2rem;
                    margin-block: 1rem 0.1rem;
                }  
            }
        }
    }

    &.translate {
        img {
            &.sign-language {
                display: inline;
                width: 20%;
                aspect-ratio: 1/2;
                border-radius: 0.2rem;
            }  
        }
    }
}
