* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #E5E5E5;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.grid {
  display: grid;
}

button {
  border: none;
  background-color: #c8c8c8;
  color: #1e1e1e;
  padding: 0.5rem 0.75rem;
  border-radius: 0.15rem;
  box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.2s;
  cursor: pointer;
}
button:hover {
  box-shadow: inset -2px -2px 1px rgba(0, 0, 0, 0.5), inset 2px 2px 1px rgba(255, 255, 255, 0.5);
}
button:active {
  box-shadow: inset -2px -2px 1px rgba(255, 255, 255, 0.5), inset 2px 2px 1px rgba(0, 0, 0, 0.5);
}
button.disabled {
  background-color: #a3a3a3;
  color: #757575;
  cursor: default;
  box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.5);
}
button.disabled:hover {
  box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.5);
}

code,
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #c8c8c8;
  color: #323232;
  border-radius: 0.2rem;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
}

code {
  padding: 0.1rem 0.2rem;
  margin-inline: 0.2rem;
  line-height: normal;
}

.code {
  padding: 0.5rem;
  margin: 0.2rem;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 1rem;
  margin-inline: auto;
  background-color: #252525;
}
form label {
  color: #FFF;
  text-transform: uppercase;
  font-weight: bolder;
  margin-block: 0 1rem;
}
form input {
  padding: 0.5rem;
  font-weight: bolder;
  border: none;
  border-radius: 0.2rem;
}
form button {
  margin-block: 1rem 0;
  border-radius: 0.2rem;
}
form .input input {
  width: calc(100% - 4rem - 2rem);
  margin-inline-end: 2rem;
}
form .input button {
  margin-block: 0;
  width: 4rem;
  font-size: 2rem;
  padding-bottom: 0.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  color: #FFF;
  background-color: royalblue;
  cursor: pointer;
}
form .input button.disabled {
  color: #4d4d4d;
  background-color: #363636;
  box-shadow: none;
  cursor: default;
}

nav {
  position: fixed;
  bottom: 0;
  right: 1rem;
  width: fit-content;
  border-radius: 1rem 1rem 0 0;
  background-color: #FFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  z-index: 999;
}
nav ul {
  display: flex;
  padding-block: 0.5rem 1rem;
  padding-inline: 0.5rem;
}
nav ul li {
  padding-block: 1rem;
  text-align: center;
}
nav ul li a {
  padding-inline: 2rem;
  padding-block: 1rem;
  text-transform: uppercase;
  font-weight: bolder;
}
nav ul li a.active {
  color: #FFF;
  border-radius: 1rem;
  background-color: #6ba6ff;
}

.page {
  color: #FFF;
}
.page .header img {
  position: absolute;
}
.page .header img.background {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
.page .header img.foreground {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-5.75deg);
  width: max(30rem, 50%);
  z-index: 2;
}
.page.profile {
  width: 75%;
  margin-inline: auto;
  margin-block-end: 5.5rem;
}
.page.profile h1 {
  color: #000;
}
.page.profile .translation {
  width: 100%;
  background-color: #252525;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  margin-block: 0.5rem;
  border-radius: 0.2rem;
}
.page.profile .translation * {
  font-weight: bolder;
  text-transform: uppercase;
}
.page.profile .translation h2 {
  font-weight: bold;
  font-size: 1.1rem;
}
.page.profile .translation p {
  font-size: 2rem;
  margin-block: 0.1rem 1rem;
}
.page.profile .translation p.id {
  color: rgba(255, 255, 255, 0.3);
  float: right;
  font-size: 0.75rem;
  justify-content: flex-end;
}
.page.profile .translation a {
  color: royalblue;
}
.page.profile .translation img.sign-language {
  display: inline;
  width: 10%;
  aspect-ratio: 1/2;
  border-radius: 0.2rem;
  margin-block: 1rem 0.1rem;
}
.page.translate img.sign-language {
  display: inline;
  width: 20%;
  aspect-ratio: 1/2;
  border-radius: 0.2rem;
}

/*# sourceMappingURL=index.css.map */
